@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css);

.mainbox{
    text-align: center;
    margin: auto;
    /*
    margin-top: 75px;
    */
    max-width: 500px;
    color: rgb(20,20,20);
}

.location{
    font-size: 30px;
}

.section {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

.bgc{
    border-radius: 40px;
    background-color: rgba(240,240,240, .4);
    padding-left: 50px;
    padding-right: 50px;
}

body { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
}

.section2 {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    border: sol
}

.weatherParams{
    display:inline-block;
    min-width: 75px;
    text-align: right;
    padding-right: 5px;
    padding-left: -10px;
    font-size: 20px;
}

.weatherData{
    display: inline-block;
    mind-width: 75px;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
}

.linepiece3{
    padding-top: 30px;
    font-size: 100px;
}